<table class="table table-striped">
  <thead>
    <tr>
      <th>Actividad</th>
      <th>Empleado</th>
      <th>Cliente</th>
      <th>Tarea</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" [ngClass]="{ 'rowfinalizada': item.estado == 'Finalizada' }">
      <td>{{ item.numero }}</td>
      <td>{{ item.empleado }}</td>
      <td>{{ item.cliente }}</td>
      <td>{{ item.tareasARealizar }}</td>
      <td>{{ item.estado }}</td>
    </tr>
  </tbody>
</table>